<h1> Foods </h1>

<table>
	<tr>
		<th> <h2> name </h2> </th>
		<th> <h2> id # </h2> </th>
	</tr>
		<tr>
			<% @foods.each do |f| %>
			<td> <%= f.name %> </a></td>
			<td> # <%= f.number %> </td>
		</tr>
			<% end %>

</table>
			

