<!-- <h1> Alooo </h1> -->

<!-- <img src="http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/styles/embed/public/2015/11/18/fallout-4.PNG"> -->

<%= image_tag('f-4.jpg', width:'1400', height:'800') %>