<h1> Craftables </h1>


<table>
	<tr>
		<th> <h2> name </h2> </th>
		<th> <h2> id # </h2> </th>
	</tr>
		<tr>
			<% @craftables.each do |c| %>
			<td> <%= c.name %> </a></td>
			<td> # <%= c.number %> </td>
		</tr>
			<% end %>

</table>
			

