<h1> junks </h1>

<table>
	<tr>
		<th> <h2> name </h2> </th>
		<th> <h2> id # </h2> </th>
	</tr>
		<tr>
			<% @junks.each do |j| %>
			<td> <%= j.name %> </td>
			<td> # <%= j.number %> </td>
		</tr>
			<% end %>
</table>
			










