<div id="menubar">
	<!-- <p class="links"> </p> -->
	<p class="links">To <a href="/stories">`Stories`</a></p>
	<p class="links">To <a href="/accounts">`Accounts`</a></p>
	<p class="links">To <a href="/movies">`Movies`</a></p>
	<p class="links">To <a href="/">`Lobby`</a></p>
	<!-- <p class="links"></p> -->	
</div>


<h2> Your entry has been submitted ! </h2>

<h3><a href="/"> Click here to go back to main page ! </a></h3>
